@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css");
/*
=================================================
                    CSS RESET
=================================================
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  outline: none;
}

/* Document
 ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
 ========================================================================== */
/**
* Remove the margin in all browsers (opinionated).
*/
body {
  margin: 0;
}

/**
* Add the correct display in IE 9-.
*/
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/* Grouping content
 ========================================================================== */
/**
* Add the correct display in IE 9-.
* 1. Add the correct display in IE.
*/
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
* Add the correct margin in IE 8.
*/
figure {
  margin: 1em 40px;
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
* Remove the outline on focused links when they are also active or hovered
* in all browsers (opinionated).
*/
a:active,
a:hover {
  outline-width: 0;
}

/**
* Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none;
}

/* Forms
 ========================================================================== */
/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  color: inherit;
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  border: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* Hidden
 ========================================================================== */
/**
* Add the correct display in IE 10-.
*/
[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 50%;
}
@media screen and (min-width: 34.5625em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (min-width: 56.3125em) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 87.5625em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Oswald", sans-serif;
  width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  color: #0a151f;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  font-size: 1.4rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a,
i,
span {
  display: inline-block;
}

i {
  color: #ed701d;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

a {
  color: #ed701d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover {
  color: #bd550f;
}

/*
=================================================
                  TYPOGRAPHY
=================================================
*/
p {
  margin-bottom: 1.6rem;
}
p:last-of-type {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 1.2;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

.section-heading {
  margin-bottom: 3.5rem;
  position: relative;
}
.section-heading .intro-bg {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4rem;
  opacity: 0.06;
}
@media screen and (min-width: 34.5625em) {
  .section-heading .intro-bg {
    font-size: 6.5rem;
  }
}
@media screen and (min-width: 56.3125em) {
  .section-heading .intro-bg {
    font-size: 8rem;
  }
}
.section-heading h2 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 0em) {
  .text-center-sm {
    text-align: center !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .text-center-md {
    text-align: center !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .text-center-lg {
    text-align: center !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .text-center-xl {
    text-align: center !important;
  }
}

@media screen and (min-width: 0em) {
  .text-left-sm {
    text-align: left !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .text-left-md {
    text-align: left !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .text-left-lg {
    text-align: left !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .text-left-xl {
    text-align: left !important;
  }
}

@media screen and (min-width: 0em) {
  .text-right-sm {
    text-align: right !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .text-right-md {
    text-align: right !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .text-right-lg {
    text-align: right !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .text-right-xl {
    text-align: right !important;
  }
}

.uppercase {
  text-transform: uppercase !important;
}

.underline {
  text-decoration: underline !important;
}

.regular-weight {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

.italic {
  font-style: italic;
}

.no-shadow {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 100;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.align-items-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.justify-align-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.default-section-spacing {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 0em) {
  .mar-t-sm-06 {
    margin-top: 0.6rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-t-md-06 {
    margin-top: 0.6rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-t-lg-06 {
    margin-top: 0.6rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-t-xl-06 {
    margin-top: 0.6rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-t-sm-2 {
    margin-top: 2rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-t-md-2 {
    margin-top: 2rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-t-lg-2 {
    margin-top: 2rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-t-xl-2 {
    margin-top: 2rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-t-sm-4 {
    margin-top: 4rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-t-md-4 {
    margin-top: 4rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-t-lg-4 {
    margin-top: 4rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-t-xl-4 {
    margin-top: 4rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-t-sm-6 {
    margin-top: 6rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-t-md-6 {
    margin-top: 6rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-t-lg-6 {
    margin-top: 6rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-t-xl-6 {
    margin-top: 6rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-t-sm-8 {
    margin-top: 8rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-t-md-8 {
    margin-top: 8rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-t-lg-8 {
    margin-top: 8rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-t-xl-8 {
    margin-top: 8rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-b-sm-06 {
    margin-bottom: 0.6rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-b-md-06 {
    margin-bottom: 0.6rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-b-lg-06 {
    margin-bottom: 0.6rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-b-xl-06 {
    margin-bottom: 0.6rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-b-sm-2 {
    margin-bottom: 2rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-b-md-2 {
    margin-bottom: 2rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-b-lg-2 {
    margin-bottom: 2rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-b-xl-2 {
    margin-bottom: 2rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-b-sm-4 {
    margin-bottom: 4rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-b-md-4 {
    margin-bottom: 4rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-b-lg-4 {
    margin-bottom: 4rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-b-xl-4 {
    margin-bottom: 4rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-b-sm-6 {
    margin-bottom: 6rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-b-md-6 {
    margin-bottom: 6rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-b-lg-6 {
    margin-bottom: 6rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-b-xl-6 {
    margin-bottom: 6rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-b-sm-8 {
    margin-bottom: 8rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-b-md-8 {
    margin-bottom: 8rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-b-lg-8 {
    margin-bottom: 8rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-b-xl-8 {
    margin-bottom: 8rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-t-sm-06 {
    padding-top: 0.6rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-t-md-06 {
    padding-top: 0.6rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-t-lg-06 {
    padding-top: 0.6rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-t-xl-06 {
    padding-top: 0.6rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-t-sm-2 {
    padding-top: 2rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-t-md-2 {
    padding-top: 2rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-t-lg-2 {
    padding-top: 2rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-t-xl-2 {
    padding-top: 2rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-t-sm-4 {
    padding-top: 4rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-t-md-4 {
    padding-top: 4rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-t-lg-4 {
    padding-top: 4rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-t-xl-4 {
    padding-top: 4rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-t-sm-6 {
    padding-top: 6rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-t-md-6 {
    padding-top: 6rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-t-lg-6 {
    padding-top: 6rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-t-xl-6 {
    padding-top: 6rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-t-sm-8 {
    padding-top: 8rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-t-md-8 {
    padding-top: 8rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-t-lg-8 {
    padding-top: 8rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-t-xl-8 {
    padding-top: 8rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-b-sm-06 {
    padding-bottom: 0.6rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-b-md-06 {
    padding-bottom: 0.6rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-b-lg-06 {
    padding-bottom: 0.6rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-b-xl-06 {
    padding-bottom: 0.6rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-b-sm-2 {
    padding-bottom: 2rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-b-md-2 {
    padding-bottom: 2rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-b-lg-2 {
    padding-bottom: 2rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-b-xl-2 {
    padding-bottom: 2rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-b-sm-4 {
    padding-bottom: 4rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-b-md-4 {
    padding-bottom: 4rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-b-lg-4 {
    padding-bottom: 4rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-b-xl-4 {
    padding-bottom: 4rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-b-sm-6 {
    padding-bottom: 6rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-b-md-6 {
    padding-bottom: 6rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-b-lg-6 {
    padding-bottom: 6rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-b-xl-6 {
    padding-bottom: 6rem !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-b-sm-8 {
    padding-bottom: 8rem !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-b-md-8 {
    padding-bottom: 8rem !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-b-lg-8 {
    padding-bottom: 8rem !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-b-xl-8 {
    padding-bottom: 8rem !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-t-sm-0 {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-t-md-0 {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-t-lg-0 {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-t-xl-0 {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 0em) {
  .mar-b-sm-0 {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .mar-b-md-0 {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .mar-b-lg-0 {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .mar-b-xl-0 {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-t-sm-0 {
    padding-top: 0 !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-t-md-0 {
    padding-top: 0 !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-t-lg-0 {
    padding-top: 0 !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-t-xl-0 {
    padding-top: 0 !important;
  }
}

@media screen and (min-width: 0em) {
  .pad-b-sm-0 {
    padding-bottom: 0 !important;
  }
}

@media screen and (min-width: 34.5625em) {
  .pad-b-md-0 {
    padding-bottom: 0 !important;
  }
}

@media screen and (min-width: 56.3125em) {
  .pad-b-lg-0 {
    padding-bottom: 0 !important;
  }
}

@media screen and (min-width: 87.5625em) {
  .pad-b-xl-0 {
    padding-bottom: 0 !important;
  }
}

.hide {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 0em) {
  .hide-on-sm {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 34.5625em) {
  .hide-on-md {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 56.3125em) {
  .hide-on-lg {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 87.5625em) {
  .hide-on-xl {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 0em) {
  .show-on-sm {
    display: block;
    visibility: visible;
  }
}

@media screen and (min-width: 34.5625em) {
  .show-on-md {
    display: block;
    visibility: visible;
  }
}

@media screen and (min-width: 56.3125em) {
  .show-on-lg {
    display: block;
    visibility: visible;
  }
}

@media screen and (min-width: 87.5625em) {
  .show-on-xl {
    display: block;
    visibility: visible;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 34.5625em) {
  .container {
    width: 85%;
  }
}
@media screen and (min-width: 56.3125em) {
  .container {
    max-width: 123.3rem;
  }
}
@media screen and (min-width: 87.5625em) {
  .container {
    max-width: 130rem;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.row [class*=flex-] {
  width: 100%;
  max-width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  min-height: 0.1rem;
  margin-bottom: 2rem;
}
.row [class*=flex-]:last-child {
  margin-bottom: 0;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*=flex-] {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 0em) {
  .row .flex-sm-1,
.row .flex-sm-2,
.row .flex-sm-3,
.row .flex-sm-4,
.row .flex-sm-5,
.row .flex-sm-6,
.row .flex-sm-7,
.row .flex-sm-8,
.row .flex-sm-9,
.row .flex-sm-10,
.row .flex-sm-11,
.row .flex-sm-12 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
@media screen and (min-width: 0em) {
  .row .flex-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-1,
.row .flex-md-2,
.row .flex-md-3,
.row .flex-md-4,
.row .flex-md-5,
.row .flex-md-6,
.row .flex-md-7,
.row .flex-md-8,
.row .flex-md-9,
.row .flex-md-10,
.row .flex-md-11,
.row .flex-md-12 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
@media screen and (min-width: 34.5625em) {
  .row .flex-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-1,
.row .flex-lg-2,
.row .flex-lg-3,
.row .flex-lg-4,
.row .flex-lg-5,
.row .flex-lg-6,
.row .flex-lg-7,
.row .flex-lg-8,
.row .flex-lg-9,
.row .flex-lg-10,
.row .flex-lg-11,
.row .flex-lg-12 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
@media screen and (min-width: 56.3125em) {
  .row .flex-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-1,
.row .flex-xl-2,
.row .flex-xl-3,
.row .flex-xl-4,
.row .flex-xl-5,
.row .flex-xl-6,
.row .flex-xl-7,
.row .flex-xl-8,
.row .flex-xl-9,
.row .flex-xl-10,
.row .flex-xl-11,
.row .flex-xl-12 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
@media screen and (min-width: 87.5625em) {
  .row .flex-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #0a151f;
}
.header__nav {
  border-bottom: 0.2rem solid #f5f5f5;
  position: relative;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu button {
  background-color: transparent;
}
.header__menu--toggler {
  position: relative;
  width: 4.5rem;
  height: 4rem;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media screen and (min-width: 34.5625em) {
  .header__menu--toggler {
    margin-right: 1.2rem;
  }
}
.header__menu--toggler:hover .line:nth-child(1) {
  top: 1.2rem;
}
.header__menu--toggler:hover .line:nth-child(2) {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}
.header__menu--toggler:hover .line:nth-child(3) {
  bottom: 1.2rem;
}
@media screen and (min-width: 56.3125em) {
  .header__menu--toggler.active {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__menu--toggler.active .line:nth-child(1) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  .header__menu--toggler.active .line:nth-child(2) {
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
  .header__menu--toggler.active .line:nth-child(3) {
    bottom: auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
}
.header__menu--toggler .line {
  position: absolute;
  width: 95%;
  height: 0.35rem;
  background-color: #f5f5f5;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header__menu--toggler .line:nth-child(1) {
  top: 0.75rem;
}
.header__menu--toggler .line:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__menu--toggler .line:nth-child(3) {
  bottom: 0.75rem;
}
.header__menu span {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #f5f5f5;
}
.header__logo {
  padding: 2rem 0;
  border-left: 0.2rem solid #f5f5f5;
  border-right: 0.2rem solid #f5f5f5;
  text-align: center;
}
.header__logo a {
  width: auto;
  height: 4rem;
}
.header__logo img {
  height: 100%;
}
.header .extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .extra .search, .header .extra .wishlist, .header .extra .cart {
  margin-left: auto;
}
.header .extra .icon {
  position: relative;
  text-align: right;
  cursor: pointer;
}
.header .extra .icon i {
  font-size: 2rem;
  color: #f5f5f5;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}